@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1608000740649'); /* IE9 */
  src: url('iconfont.eot?t=1608000740649#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABtwAAAJhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBZIFPATYCJAMICwYABCAFhG0HMRv2BRHVi1Wyr5M3le1En9KwhjZBagRt7zQy9qriBycWujVbhVomgZn0TARf+6H77l8IQGXiAUhFR0XFcoFUq1yF7PhOhSIFLGwzeG5VmCc9NfjpxAs7R4kcJnICmQYXg8/riC/mcPkPPtAPJYv1Fufs7VnICDWS8z8rVFhIO8A0J+seAAZcTptAgcwDii1de9OkiVEcUBjuhVEkC+gBuGHsghd4n0ClXtNiebk/CSGzlwXiIndSiEJAllm6XCht2JvFGyXK06sUXke/jz9mopykpGBX7Z8vjOi+h5PV/UM6C0iCBHS4BAWmkYnjxsQuLBijUJkgBjlWefA9CEziqH+eKGWXVoNuKHgmoSd6VCITyCjFOmBnUoDSavv9q/n25k/Tk26Vvb/MzzNfgeNIuwX9rE2Tt+vruJgJ+NbD9a/xD6Kr5gRjp4r3aScipP3rX3GhM/j4f36ky4a5KD+3M/iHwoFt2RDbxpQ1YWMmWcfuraZSJR6wp9GXqZqWG7aF8oKQISnTg0K5YXKmT6NElVmUKjeHSlPWDldpcgmLXIFJzwBCvbdIar1Dod4HcqZ/RolW/1CqPgpUOg3OrDIaVj4cCSWjAfWDXLeNdc08jMsP6F6VpLw4Yl6QfB6GOIjK6RU2SEts8G+XMFuw1NawBI9hVbXQUVug5iBj7tIwtE0vCnRbi6EYCSWjAfWDXLeNDYbzsPL9A7pXJamjpc57QfL5+BAH0QDyStEManmUZ/zbJcwWLLU1LIENKyfRQtc8q0DNQTYh1qUh6maHKoLtVfXfHYFKYWvTwJla4F42GTZOCAAAAA==') format('woff2'),
  url('iconfont.woff?t=1608000740649') format('woff'),
  url('iconfont.ttf?t=1608000740649') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1608000740649#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sanheng:before {
  content: "\e601";
}

